// 如果要修改sidebar 跟 header 的樣式，請將sidebar.scss 的內容複製過來再修改
// 修改完之後可以將import刪掉
// 注意！預設的樣式是以底圖為深色去做的，所以sidebar 皆為淺色。
@import url(../sidebar.scss);
@import "~bootstrap/scss/bootstrap";

// 這是為了讓大家可以看到sidebar的顏色才將底色設為黑色
// 可以自行調整
body {
    background-image: url(../../images/tb/tbBackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        // background:rgba(255, 255, 255, 0.2);
        background: rgba(0, 0, 0, 0.6);
        // opacity: 0.2;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    h2 {
        color:white;
        margin-bottom:1em ;
    }
}
.container {
    position: relative;
    padding-top: 70px;
    z-index: 2;
    
}
.row {
    padding-bottom: 2em;
    .imgWrap {
        // margin: 0;
        padding: 0;
        img {
            width: 100%;
            // margin: 0;
        }
    }


    .text {
        display: flex;
        background: rgba( 23,28,33, 0.7);
        padding:  3em;
        align-items: center;
        // text-align: center;
        &.even {
            background: rgba( 26,33,23,0.7);
        }

        p {
            color: white;
            margin: 0;
            font-size: 1em;
            
            // position: relative;
            // left: -3em;
            // line-height;
        }
        .phone {
            display: none;
        }
    }

}
