<!DOCTYPE html>
<html lang="zh-hant-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html">Road Trip <span></span></a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="project_tuv.html">TUV</a></li>
            <li><a href="project_tb.html">TB</a></li>
            <li><a href="project_career.html">職涯專案</a></li>
            <li><a href="project_recruit.html">招生專案</a></li>
            <li><a href="members.html">資種 17 </a></li>
        </ul>
    </nav>
    <!-- 從這裡開始編輯網頁 -->
    <div id="main">
        <div class="inner">
            <div class="columns">

                <!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
                <% htmlWebpackPlugin.options.membersLinks.forEach(item => { %>
                <div class="image fit">
                    <a href="" data-toggle="modal" data-target="#<%= item.id %>"><img
                            src="/images/members/person/<%= item.url %>" alt="" /></a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="<%= item.id %>" data-keyboard="false" tabindex="-1" role="dialog"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="purpleCut cut">
                                    <img class="purple_seed seeds" src="./images/members/3.png" alt="">
                                </div>
                                <div class="redCut cut">
                                    <img class="red_seed seeds" src="./images/members/1.png" alt="">
                                </div>
                                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="circleCut row">
                                        <img src="./images/members/color/<%= item.url %>" alt="">
                                    </div>
                                    <div class="row">
                                        <p class="name bold"><%= item.name %></p>
                                    </div>
                                    <div class="row">
                                        <p class="bold"> <img class="itseedBaby" src="./images/members/itseedBaby.png"
                                                alt="">三個代表自己的 #Hashtag<img class="itseedBaby"
                                                src="./images/members/itseedBaby.png" alt=""></p>
                                    </div>
                                    <div class="row hashtag">
                                        <span class="badge">#<%= item.tag[0] %></span>
                                        <span class="badge">#<%= item.tag[1] %></span>
                                        <span class="badge">#<%= item.tag[2] %></span>
                                    </div>
                                    <% if (item.future) { %>
                                    <div class="row">
                                        <p class="futureTitle bold"><img class="itseedBaby"
                                                src="./images/members/itseedBaby.png" alt="">你的未來志向<img
                                                class="itseedBaby" src="./images/members/itseedBaby.png" alt="">
                                        </p>
                                    </div>
                                    <div class="row future">
                                        <p><%= item.future %></p>
                                    </div>
                                    <% } %>
                                    <% if (item.learned) { %>
                                    <div class="row">
                                        <p class="futureTitle bold"><img class="itseedBaby"
                                                src="./images/members/itseedBaby.png" alt="">資種學習收穫<img
                                                class="itseedBaby" src="./images/members/itseedBaby.png" alt="">
                                        </p>
                                    </div>
                                    <div class="row future">
                                        <p><%= item.learned %></p>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="links">
                                    <img src="./images/members/medium.png" alt="">
                                    <img src="./images/members/facebook.png" alt="">
                                    <img src="./images/members/gmail.png" alt="">
                                </div>
                                <div class="blueCut cut">
                                    <img class="blue_seed seeds" src="./images/members/2.png" alt="">
                                </div>
                                <div class="yellowCut cut">
                                    <img class="yellow_seed seeds" src="./images/members/4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% }) %>
            </div>
        </div>
    </div>



    <div class="modal-footer">
        <div class="links">
            <img src="./images/members/medium.png" alt="">
            <img src="./images/members/facebook.png" alt="">
            <img src="./images/members/gmail.png" alt="">
        </div>
        <div class="blueCut cut">
            <img class="blue_seed seeds" src="./images/members/2.png" alt="">
        </div>
        <div class="yellowCut cut">
            <img class="yellow_seed seeds" src="./images/members/4.png" alt="">
        </div>
    </div>
    </div>
    </div>
    </div>

    <!-- Scripts -->
    <script src="./js/packages/jquery.min.js"></script>
    <script src="/js/packages/jquery.scrolly.min.js"></script>
    <script src="/js/packages/jquery.scrollex.min.js"></script>
    <script src="/js/packages/skel.min.js"></script>
    <script src="/js/packages/util.js"></script>
    <script src="/js/packages/main.js"></script>
</body>

</html>